html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

:root {
  --blue: #00acdc;
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 0 50px;
}

.header__logo-img {
  display: block;
  height: 40px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item + .nav__item {
  margin-left: 20px;
}

.nav__link {
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
  font-weight: 500;
}

.nav__link:hover {
  color: var(--blue);
}

.is-active {
  color: var(--blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: var(--blue);
}
